{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="about" class="container-fluid">
    <div class="row">
        <img class="about-title-image image-fluid" src="{{ MEDIA_URL }}workshops_01.jpg" alt="Workshop Fabike">
    </div>
    <div class="row justify-content-center">
        <div id="events" class="col mx-1 px-0 col-lg-6 col-md-6 col-sm-12 card my-4 align-self-center shadow bg-white rounded">
            <div class=" card-header">
                <h2 class="uppercase text-center"><i class="fa fa-cog fa-spin"></i> {{ event.title }}</h2>
            </div>
            <div class="card-body">
                <div class="card my-2 border-secondary">
                    <div class="card-header bg-secondary">
                        <h4 class="uppercase py-2 text-left text-white"><i class="fas fa-tools"></i> {{ event.topics }}</h4>
                    </div>
                    <div class="card-body row">
                        <div class="col-12 col-lg-5 col-md-5">
                            <p>What you will learn:</p>
                            <p class="px-1">{{ event.learning }}</p>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <h2 class="mx-3"><i class="far fa-calendar-alt text-primary"></i></h2>
                            <p><strong>{{ event.date|date:"d.m.Y" }}</strong></p>
                            <p class="mb-1"><strong>{{ event.time|time:"H:i" }}</strong></p>
                            <h2 class="mx-3 mt-3"><i class="fas fa-map-pin text-primary"></i></h2>
                            <p class="my-0">{{ event.address }}</p>
                            <p class="my-0">{{ event.town_or_city }}</p>
                            <p class="my-0">{% if event.map_link %}<a href="{{ event.map_link }}" target="_blank">Open map</a>{% endif %}</p>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3">
                            <h2 class="mx-3"><i class="fas fa-barcode text-primary"></i></h2>
                            <p class="my-1">€ {{ event.price }}/person</p>
                            <p class="my-1">{{ event.comment }}</p>
                            <p class="text-primary mt-2"><small><i class="fa fa-cog fa-spin"></i> Bicycle Club members for free</small></p>
                        </div>
                    </div>
                    <div class="row px-1">
                        <div class="col-6 text-center">                    
                            <a href="{% url 'events' %}" class="btn btn-outline-secondary mx-lg-3 pull-left">
                                <span class="text-center">BACK TO EVENTS</span>
                            </a>
                        </div>
                        <div class="col-6 text-right">                    
                            <a href="{% url 'contact' %}" class="btn btn-dark mx-lg-3 pull-right">
                                <span class="font-weight-bold">BOOK A PLACE</span>
                            </a>
                        </div>
                    </div>          
                    <div class="row">
                        <div class="col">                    
                        </div>
                        <div class="col text-right mx-1 my-2">
                            {% if request.user.is_superuser %}
                                <small class="edit-delete-btn pull-bottom pull-right">
                                    <a href="{% url 'edit_event' event.id %}">EDIT</a> | 
                                    <a class="text-danger" href="{% url 'delete_event' event.id %}">DELETE</a>
                                </small>
                            {% endif %}
                        </div>
                    </div>               
                </div>
            </div>
            <div class="card-footer text-muted text-right"></div>
        </div>
    </div>
</div>
{% endblock %}