{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{% block extra_title %}- Shopping Cart{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="uppercase text-center logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row px-2">
        <div class="col mx-2 px-0 card my-1 align-self-center shadow rounded">
            <div class="card-header">
                <div class="row">                    
                    <div class="col px-2 pt-2">
                        {% if cart_items %}<h5 class="uppercase text-left"><i class="fa fa-cog fa-spin"></i> product info</h5>{% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body px-0">
                {% if cart_items %}
                
                {% for item in cart_items %}
                <div class="row">
                    <div class="col col-lg-10 col-md-10 col-sm-12">
                        <form class="form" method="POST" action="{% url 'update_cart' item.item_id %}">
                            {% csrf_token %}
                            <div class="row my-2">
                                <div class="col col-lg-4 col-md-4 col-sm-12 px-4 mx-3">
                                    <a class="bike-link" href="{% url 'product' item.item_id %}">
                                        <img class="img-fluid rounded" src="{{ STATIC_URL }}img/products/{{ item.product.image02 }}">
                                    </a>
                                </div>
                                <div class="col col-lg-3 col-md-3 col-sm-12 pt-2">
                                    <a class="bike-link" href="{% url 'product' item.product.id %}">
                                        <h6 class="my-1"><strong>{{ item.product.frame }} {{ item.product.name }}</strong></h6>
                                    </a>
                                    <p class="my-0"><strong>Color: </strong>{{ item.color|upper }}</p>
                                    <p class="my-0"><strong>Size: </strong>{{ item.size|upper }}</p>
                                    {% if item.components != 'none' %}
                                    <p class="my-0"><strong>Components: </strong>{{ item.components|upper }}</p>
                                    {% endif %}
                                </div>
                                <div class="col col-lg-2 col-md-2 col-sm-6">
                                    <h6 class="font-weight-bold">Price:</h6>
                                    <p class="my-0"><strong>€ {{ item.price | intcomma }}</strong></p>
                                </div>
                                <div class="col col-lg-2 col-md-2 col-sm-6">
                                    <div class="div text-left">
                                        <h6 class="font-weight-bold">Qty:</h6>
                                        <p class="my-0 text-left"><strong>{{ item.quantity }}</strong></p>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group w-50">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-outline-dark">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-outline-dark">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="update_{{ item.options_in_cart }}" name="update_{{ item.item_in_cart }}" value="{{ item.item_in_cart  }}" href="{% url 'update_cart' item.item_id %}" type="submit" class="btn btn-light text-info">
                                    <small>Update</small></button>
                                </div>
                            </div>                            
                        </form>
                    </div>
                    <div class="col col-lg-2 col-md-2 col-sm-12">
                        <p class="my-0">Subtotal:</p>
                        <p class="my-0"><strong>€ {{ item.price | calc_subtotal:item.quantity | intcomma }}</strong></p>
                        <div>
                            <form class="form" method="POST" action="{% url 'remove_from_cart' item.item_id %}">
                            {% csrf_token %}
                                <button id="remove_{{ item.item_in_cart }}" name="remove_{{ item.item_in_cart  }}" value="{{ item.item_in_cart  }}" href="{% url 'remove_from_cart' item.item_id %}" type="submit" class="bottom-0 text-danger btn btn-light"><small>Remove item</small></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %} 
                
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-0"></div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <hr>
                        <h5 class="pl-3"><strong>Cart Total: € {{ total| intcomma }}</strong></h5>
                        <h6 class="mb-3 pl-3">Delivery is included. Inclusive of all taxes.</h6>
                        <hr>
                    </div>
                </div>
                <div class="row text-center py-3">
                    <div class="col-6">
                        <a href="{% url 'home' %}" class="py-2 btn btn-dark text-center uppercase">Back to &nbsp;<i class="fas fa-biking"></i></a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'checkout' %}" class="py-2 text-center uppercase button btn btn-dark btn-sm">checkout  &nbsp; <i class="far fa-credit-card"></i></a>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="text-center py-2">
                        <h3 class="py-5"><i class="fa fa-cog fa-spin"></i> Your cart is empty.</h3>
                        <a href="{% url 'home' %}" class="my-3 py-2 btn btn-dark text-center uppercase">Back to &nbsp; <i class="fas fa-biking"></i></a>
                    </div>
                </div>        
                {% endif %}
            </div>
            <div class="card-footer text-muted text-right"></div>
        </div>  
    </div>  
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'cart/includes/quantity_input_script.html' %}
{% endblock %}