{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container v-100">
        <div class="row">
            <div class="col w-100">
                <img src="{% static 'img/hero_image.jpg' %}" alt="Hero image"/>
                <h3 class="display-6 text-success text-center">DESIGNED FOR EXPERIENCING</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="display-7 text-primary text-uppercase mx-30">fabike is sardinia - italy and prague -     Czech republic based bicycle brand with technical innovation and clean design as a mission.
                </p>
                <p class="display-7 text-primary text-uppercase mx-30">
                    Our unconventional bikes give you endless possibilities to create your dream ride. follow us down this road.
                </p>
            </div>    
        </div>
        <div class="row my-10">
            <div class="col">
                <div class="row my-10">
                    <div class="col-lg-6 col-sm-12 text-center">
                        <h3 class="display-4 text-success">URBAN BIKES</h3>
                        <p>
                            Truly live the city! Move through it with unique style and maximum flexibility.
                        </p>
                        <button type="button" href="" class="btn btn-primary">Discover</button>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-7 text-success">URBAN BIKES IMAGE</h3>         
                    </div>
                </div>
                <div class="row my-10">
                    <div class="col-lg-6 col-sm-12 text-success">
                        <h3 class="display-7">ALL ROAD BIKES IMAGE</h3>
                    </div>
                    <div class="col-lg-6 col-sm-12 text-center">
                        <h3 class="display-4 text-success">ALL-ROAD BIKES</h3>  
                        <p>
                            Never limit your rides. Enjoy the freedom of taking the unbeaten paths with full confidence.
                        </p>
                        <button type="button" href="" class="btn btn-primary">Discover</button>    
                    </div>
                </div>
                <div class="row my-10">
                    <div class="col-lg-6 col-sm-12 text-center">
                        <h3 class="display-4 text-success">ROAD BIKES</h3>
                        <p>
                            Expect more from your rides. Reach your top level with an exclusive configuration.
                        </p>
                        <button type="button" href="" class="btn btn-primary">Discover</button>  
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">ROAD BIKES IMAGE</h3>         
                    </div>
                </div>                
            </div>
        </div>
        <div class="row my-10">
            <div class="col text-center">
                <h3 class="display-4 text-info text-center">BRANDS WE LIKE TO WORK WITH</h3>
                <p>
                    We select top brands as partners when building our bikes. No matter if you choose a ready-made configuration or a custom build, you can always be sure that the components on your FABIKE will represent the state of art and very best of the cycling industry.
                </p>
                <div class="row">
                    <div class="col-lg-2 col-sm-12">
                        <h5>Gates</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>Rohloff</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>SRAM</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>SHIMANO</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>BROOKS</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>TRP</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-12">
                        <h5>DT Swiss</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>Challenge</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>WTB</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>Vittoria</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>TUNE</h5>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <h5>FABRIC</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-10">
            <div class="col">
                <h3 class="display-4 text-primary text-center">Logo</h3>
                <h4 class="display-4 text-primary text-center">Cupra</h4>
                <p class="text-center">
                    In the name of design and top performance we started a collaboration with CUPRA,
                    the newly born car brand from the Volkswagen Group.
                </p>
                <h4>
                    <a href="" class="bnt btn-lg rounded-0 py-3">Find Out More</a>
                </h4>     
            </div>
        </div>
    </div>    
{% endblock %}