{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col">
                <h3 class="display-4 text-success">Hero Images</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="display-7 text-primary text-uppercase mx-30">fabike is sardinia - italy and prague -     Czech republic based bicycle brand with technical innovation and clean design as a mission.
                </p>
                <p class="display-7 text-primary text-uppercase mx-30">
                    Our unconventional bikes give you endless possibilities to create your dream ride. follow us down this road.
                </p>
            </div>    
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">URBAN BIKES</h3>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">URBAN BIKES IMAGE</h3>         
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">ALL ROAD BIKES IMAGE</h3>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">ALL ROAD BIKES</h3>         
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">ROAD BIKES</h3>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h3 class="display-4 text-success">ROAD BIKES IMAGE</h3>         
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="display-4 text-success">brands</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="display-4 text-success">Cupra</h3>
            </div>
        </div>
    </div>    
{% endblock %}