{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
<div id="hero" class="container-fluid px-0">
    <div class="centered">
        <h3 id="slogan" class="display-6 text-white bg-dark py-4 px-4 rounded-2 bold">DESIGNED FOR EXPERIENCING</h3>
    </div>
    <div class="mySlides fade">
        <img src="{% static 'img/hero/hero_image_1.jpg' %}" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="{% static 'img/hero/hero_image_2.jpg' %}" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="{% static 'img/hero/hero_image_3.jpg' %}" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="{% static 'img/hero/hero_image_4.jpg' %}" style="width:100%">
    </div>
    <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
    </div>
</div>
    <div class="container-fluid v-100">
        <div class="row intro-section">
            <div class="col">
                <p class="display-7 text-white text-uppercase text-center mx-30 intro-text">
                    fabike is sardinia, italy & prague, Czech republic based bicycle brand with technical innovation & clean design as a mission.
                </p>
                <p class="display-7 text-white text-center text-uppercase mx-30 intro-text">
                    Our unconventional bikes give you endless possibilities to create your dream ride. follow us down this road.
                </p>
            </div>    
        </div>
        <div class="row my-10">
            <div class="col">
                <div class="row my-10">
                    <div class="col-lg-6 col-sm-12 px-0 box-image">
                        <img class="feat-image" src="{% static 'img/index/homepage_featured_box_1.jpg' %}" alt="Urban Bikes">         
                    </div>
                    <div class="col-lg-6 col-sm-12 text-center box-urban">
                        <h3 class="display-5 text-white">URBAN BIKES</h3>
                        <p class="text-white mx-20">
                            Truly live the city! Move through it with unique style and maximum flexibility.
                        </p>
                        <button type="button" href="" class="text-white btn btn-warning mt-20">DISCOVER</button>
                    </div>
                </div>
                <div class="row my-10">
                    <div class="col-lg-6 col-sm-12 px-0 box-image">
                        <img class="feat-image" src="{% static 'img/index/homepage_featured_box_2.jpg' %}" alt="All-Road Bikes">
                    </div>
                    <div class="col-lg-6 col-sm-12 text-center box-all-road">
                        <h3 class="display-5 text-white">ALL-ROAD BIKES</h3>  
                        <p class="text-white mx-20">
                            Never limit your rides. Enjoy the freedom of taking the unbeaten paths with full confidence.
                        </p>
                        <button type="button" href="" class="text-white btn btn-danger mt-20">DISCOVER</button>
                    </div>
                </div>
                <div class="row my-10">
                    <div class="col-lg-6 col-sm-12 px-0 box-image">
                        <img class="feat-image" src="{% static 'img/index/homepage_featured_box_3.jpg' %}" alt="Road Bikes">        
                    </div>
                    <div class="col-lg-6 col-sm-12 text-center box-road">
                        <h3 class="display-5 text-white">ROAD BIKES</h3>
                        <p class="text-white mx-20">
                            Expect more from your rides. Reach your top level with an exclusive configuration.
                        </p>
                        <button type="button" href="" class="btn btn-primary mt-20">DISCOVER</button>  
                    </div>
                </div>                
            </div>
        </div>
        <div class="row my-10">
            <div class="col text-center brands-section">
                <h4 class="display-5 text-white text-center">BRANDS WE LIKE TO WORK WITH</h4>
                <p class="text-white brands-text">
                    We select top brands as partners when building our bikes. No matter if you choose a ready-made configuration or a custom build, you can always be sure that the components on your FABIKE will represent the state of art and very best of the cycling industry.
                </p>
                <div class="row brands-section">
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand01.png' %}" alt="Brooks">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand02.png' %}" alt="Challenge">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand03.png' %}" alt="DT Swiss">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand04.png' %}" alt="Fabric">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand05.png' %}" alt="ROHLOFF">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand06.png' %}" alt="SHIMANO">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand07.png' %}" alt="GATES">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand08.png' %}" alt="SRAM">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand09.png' %}" alt="TRP">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand10.png' %}" alt="TUNE">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand11.png' %}" alt="Vittoria">
                    </div>
                    <div class="col-lg-2 col-sm-12 brand-box">
                        <img class="brand-img" src="{% static 'img/brands/brand12.png' %}" alt="WTB">
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-10">
            <div class="col">
                <h3 class="display-4 text-primary text-center">Logo</h3>
                <h4 class="display-4 text-primary text-center">Cupra</h4>
                <p class="text-center">
                    In the name of design and top performance we started a collaboration with CUPRA,
                    the newly born car brand from the Volkswagen Group.
                </p>
                <h4>
                    <a href="" class="bnt btn-lg rounded-0 py-3">Find Out More</a>
                </h4>     
            </div>
        </div>
    </div> 

{% endblock %}

