{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{% block extra_title %}- Under Construction{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="uppercase text-center logo-font mb-4">Under construction</h2>
            <hr>
        </div>
    </div>
    <div class="row px-2 d-flex justify-content-center">
        <div class="col-12 col-lg-10 col-md-10 mx-2 mb-5 px-0 card my-1 shadow rounded">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="row">
                    <div class="text-center py-2">
                        <h3 class="py-5 text-primary"><i class="fa fa-cog fa-spin"></i> Content will be added to this page soon</h3>
                        <a href="{% url 'home' %}" class="my-3 py-2 btn btn-dark text-center uppercase">Back to &nbsp; <i class="fas fa-biking"></i></a>
                    </div>
                </div>        
            </div>
            <div class="card-footer text-muted text-right"></div>
        </div>  
    </div>  
</div>
{% endblock %}