
/* Index page */
#hero{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
    max-height: 800px;
    overflow: hidden;
}

/* Hero image slideshow container */
.hero-image{
    width: 100%;
}

/* Fading animation */
.dissolve {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

#slogan{
    font-weight: 500;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Intro section under hero slideshow */
.intro-text{
    padding: 15px 20px;
    font-size: 1.2em;
    margin-bottom: 0;
}

.intro-section{
    background-color: #262626;
    padding: 20px 0;
}

/* to scale width vs height of the image within div */
.box-image{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.box-text{
    vertical-align: middle;
    display: inline-block;
}

.brands-section{
    padding-bottom: 15px;
}

.brands-section p{
    font-size: 1.3em;
}

/* Urban, all-road, road section on home page */
.feat-image{
    width: 100%;
}

.box-urban{
    background-color: rgba(83, 55, 15, 0.858);
}

.box-all-road{
    background-color: #751d1a;
}

.box-road{
    background-color: #0b173d;
}

.box-urban, 
.box-all-road,
.box-road{
    padding: 50px 50px;
}


/* Brands section */
.brands-section{
    background: #575757;
    padding-top: 15px;
}

.brand-img{
    max-width: 130px;
    height: auto;
    padding: 8px 5px;
}

.brands-text {
    padding-left: 18%;
    padding-right: 18%;
}

/* For various screen sizes */
/* Bigger screens */
@media only screen and (min-width: 1200px) {
    .intro-text{
        padding-left: 30%;
        padding-right: 30%;
        font-size: 6em;
    }
}

@media only screen and (min-width: 995px) {
    .intro-text{
        padding-left: 30%;
        padding-right: 30%;
        font-size: 3.5em;
    }
}

@media only screen and (min-width: 768px) {
    .intro-text{
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1.8em;
    }
    .box-urban h3, 
    .box-all-road h3,
    .box-road h3 {
        font-size: 2em;
    }
    .brand-img{
        max-width: 100px;
        height: auto;
        padding: 8px 5px;
    }
}
/* Smaller screens */
@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {
    #slogan {
        font-size: 1.2em;
        font-weight: 400;
        padding: 10px !important;
    }
    .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .intro-text{
        padding: 15px 20px;
        font-size: 1.1em;
        margin-bottom: 0;
    }
    .intro-section{
        background-color: #262626;
        padding: 15px 0;
    }
    .brands-text {
        padding-left: 5px;
        padding-right: 5px;
    }
    .brands-section p{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 360px) {
    #slogan{
        font-size: 0.9em;
    }
    .centered {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .intro-section{
        background-color: #262626;
        padding: 5px 0;
    }
    .intro-text{
        padding: 15px 20px;
        margin-bottom: 0;
    }
}