/* Hero image slideshow container */
.hero-image{
    width: 100%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}