{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}- Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="m-2 px-0 col-12 col-lg-5 card shadow bg-white rounded">
                <div class="card-header ">
                    <h5 class="uppercase text-left">Delivery Information</h5>
                </div>
                <div class="card-body px-3">
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="mt-1 pull-right btn btn-dark btn-sm">Update Information</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center"></div>
            </div>
            <div class="m-2 px-0 col-12 col-lg-5 card shadow bg-white rounded">
                <div class="card-header">
                    <h5 class="uppercase text-left">Order History</h5>
                </div>
                <div class="card-body">
                    {{ orders }}
                </div>
                <div class="card-footer text-muted text-center"></div>
            </div>
        </div>
    </div>
{% endblock %}