img-fluid {
    max-width: 100%;
}

.delete-btn-div{
    position: relative;
}

.delete-btn{
    position: absolute;
    top: -60px;
    right: -20px;
}

/* Smaller screens */
@media only screen and (max-width: 600px) {
    .delete-btn{
        position: absolute;
        top: -60px;
        right: 20px;
    }

}