/* to position number of products relative to the shopping cart icon */
#cart-span{
    position: relative;
}

#cart-qty{
    position: absolute;
    top: -15px;
    right: 3px;
    font-size: 1em;
    font-weight: 600;
}