/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* General styling */
html, body{
    margin: 0;
    padding: 0;  
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

/* to push down other elements to give space for navbar */
.pillow{
    padding-top: 80px;
}

/* Title images and titles on other pages besides home */
.title-image{
    width: 100%;
}

.secondary-hero-image{
    width: 100%;
    position: relative;
    text-align: center;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navbar */
#logo{
    width: 5em;
}

.bikes-dropdown-menu,
.account-dropdown-menu{
    list-style-type: none;
}

.account-drop-menu{ 
    width: max-content;
    padding-left: 0;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

/* to position number of products relative to the shopping cart icon */
#cart-span{
    position: relative;
}

#cart-qty{
    position: absolute;
    top: -15px;
    right: 3px;
    font-size: 1em;
    font-weight: 600;
}

/* to make containers on all those pages cover all screen */
#products,
#all-road,
#road,
#urban,
#product, 
#about{
    padding: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* Products page */
.bikes-img,
.frames-img{
    width: 100%;
}

.product-image{
    width: 100%;
}

/* Bike section titles and individual bikes titles */
/* so they don't look like links */
.bike-sec-title,
.bike-link{
    color:#575757;
    text-decoration: none;
}

.bike-sec-title:hover,
.bike-link:hover{
    color: black;
}
/* Edit & Delete buttons on product and event for admin access */
.edit-delete-btn a{
    text-decoration: none;
}

.edit-delete-btn a:hover{
    opacity: 0.9;
}


/* ABout page */
#about-section{
    width: 80%;
    padding: 0 15%;
}

.about-title-image{
    padding: 0;
}

/* Contact form page */
#contact-form{
    max-width: 60%;
}

/* to remove asterisk from labels to contact form */
.asteriskField {
    display: none;
}

#contact-form .form-control{
    margin-bottom: 15px;
}

/* Footer */
#footer{
    background-color: #262626;
    padding-top: 15px;
    flex-wrap: wrap;
}

.footer-links{
    padding-left: 15px;
}

.footer-links div a{
    color: #ababab; 
    text-decoration: none;
}

.social li{
    display: inline-block;
    width: 30%;
    margin: 2.5%;
}

.social li a i {
    height: 30px;
    width: 30px;
    border-radius: 30%;
    font-size: 30px;
    padding: 13px;
    text-align: center;
    color: #201766;
    color: #ababab;
}

.copyright{
    font-size: 0.7em;
    color: #ababab; 
}


/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 87px;
    right: 5px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-icon{
    font-size: 1.5em;
    font-weight: 800;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 14px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Allauth content formatting */
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #ABABAB;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type=submit]:hover {
    background-color: #575757;
}

/* For various screen sizes */
/* Bigger screens */
@media only screen and (min-width: 1200px) {
  
}

@media only screen and (min-width: 995px) {
    
}

@media only screen and (min-width: 750px) {
    
}

/* Smaller screens */
@media only screen and (max-width: 600px) {
    .nav-item i{
        font-size: 0.8em;
    }
    #about-section{
        width: 100%;
        padding: 0 3%;
    }
    .about-address h5{
        font-size: 1.1em;
    }
    .about-address p{
        font-size: 0.8em;
    }
    #contact-form{
        max-width: 95%;
    }
    /* Footer */
    .footer-links h6{
        font-size: 0.7em;
    }
    .social li a i{
        font-size: 1.2em;
    }
    .social {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
    }
    .social li {
        width: 30%;
        float: left;
        margin: 2.5%;
    }
    .footer-links{
        padding-left: 0;
    }
    #about-section{
        width: 90%;
        padding: 0 8%;
    }
    /* title over title images */
    .centered h1{
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 360px) {
    #about-section{
        width: 90%;
        padding: 0 8%;
    }
}

@media only screen and (max-width: 320px) {
    /* to make toast message to fit the smallest screen */
    .toast{
        width: 100%;
    }
}