/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* General styling */
html, body{
    margin: 0;
    padding: 0;  
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* to push down other elements to give space for navbar */
.pillow{
    padding-top: 80px;
}

/* Navbar */
#logo{
    width: 5em;
}

.bikes-dropdown-menu,
.account-dropdown-menu{
    list-style-type: none;
}

#account-drop-menu{ 
    width: 100px; 
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

/* Index page */
#hero{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
    max-height: 800px;
    overflow: hidden;
}

#slogan{
    font-weight: 500;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Intro section under hero slideshow */
.intro-text{
    padding: 15px 20px;
    font-size: 1.2em;
    margin-bottom: 0;
}

.intro-section{
    background-color: #262626;
    padding: 20px 0;
}

/* to scale width vs height of the image within div */
.box-image{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

/* Urban, all-road, road section on home page */
.feat-image{
    width: 100%;
}

.box-urban{
    background-color: rgba(83, 55, 15, 0.858);
}

.box-all-road{
    background-color: #751d1a;
}

.box-road{
    background-color: #0b173d;
}

.box-urban, 
.box-all-road,
.box-road{
    padding: 50px 50px;
}

/* Brands section */
.brands-section{
    background: #575757;
    padding-top: 15px;
}

.brand-img{
    max-width: 130px;
    height: auto;
    padding: 8px 5px;
}

.brands-text {
    padding-left: 16%;
    padding-right: 16%;
}

/* to make containers on all those pages cover all screen */
#products,
#all-road,
#road,
#urban,
#product, 
#about{
    padding: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* Products page */
.bikes-img,
.frames-img{
    width: 100%;
}

.product-image{
    width: 100%;
}

/* Bike section titles and individual bikes titles */
/* so they don't look like links */
.bike-sec-title,
.bike-link{
    color:#575757;
    text-decoration: none;
}

.bike-sec-title:hover,
.bike-link:hover{
    color: black;
}

/* ABout page */
#about-section{
    width: 80%;
    padding: 0 15%;
}

.about-title-image{
    padding: 0;
}

/* Contact form page */
#contact-form{
    max-width: 60%;
}

/* to remove asterisk from labels to contact form */
.asteriskField {
    display: none;
}

#contact-form .form-control{
    margin-bottom: 15px;
}

/* Footer */
#footer{
    background-color: #262626;
    padding-top: 15px;
    flex-wrap: wrap;
}

.footer-links{
    padding-left: 15px;
}

.footer-links div a{
    color: #ababab; 
    text-decoration: none;
}

.social li a i {
    height: 30px;
    width: 30px;
    border-radius: 30%;
    font-size: 30px;
    padding: 13px;
    text-align: center;
    color: #201766;
    color: #ababab;
}

.copyright{
    font-size: 0.7em;
    color: #ababab; 
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 87px;
    right: 5px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 14px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/* For various screen sizes */
/* Bigger screens */
@media only screen and (min-width: 1200px) {
    .intro-text{
        padding-left: 30%;
        padding-right: 30%;
        font-size: 3em;
    }
}

@media only screen and (min-width: 995px) {
    #main-menu{
        padding-left: 35%;
    }
    .intro-text{
        padding-left: 30%;
        padding-right: 30%;
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 750px) {
    .intro-text{
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1.5em;
    }
}

/* Smaller screens */
@media only screen and (max-width: 600px) {
    #slogan {
        font-size: 1.2em;
        font-weight: 400;
    }
    .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .brands-text {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-item i{
        font-size: 0.8em;
    }
    #about-section{
        width: 100%;
        padding: 0 3%;
    }
    .about-address h5{
        font-size: 1.1em;
    }
    .about-address p{
        font-size: 0.8em;
    }
    #contact-form{
        max-width: 95%;
    }
}