/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* General styling */
html, body{
    margin: 0;
    padding: 0;  
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* Navbar */
#logo{
    width: 5em;
}

.navbar-center{
    margin: auto;  
}

.navbar-right{
    margin-left: auto;  
}

/* to push down the hero image below fixed navbar */
#hero{
    padding-top: 95px;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
    max-height: 800px;
    overflow: hidden;
}

#slogan{
    font-weight: 500;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hero image slideshow container */
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

/* For various screen sizes */
@media only screen and (max-width: 600px) {
    #slogan {
        font-size: 1.2em;
        font-weight: 400;
    }
    .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}