.container-product{
    width: 80%;
    padding: 0;
}

.product-image{
    padding: 0;
}

.color-size-price-sec{
    padding-right: 20px;
    padding-left: 20px;
}

.price-comment{
    font-size: 0.7em;
}

.price-size-components-title{
    font-size: 1.1em;
}

/* Code for color radio buttons */
.custom-radios div {
    display: inline-block;
}

.custom-radios input[type="radio"] {
    display: none;
}

.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 4px;
}

.custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
}

.custom-radios input[type="radio"]#color-red + label span {
    background-color: red;
}

.custom-radios input[type="radio"]#color-blue + label span {
    background-color: blue;
}

.custom-radios input[type="radio"]#color-yellow + label span {
    background-color: rgb(211, 211, 15);
}

.custom-radios input[type="radio"]#color-black + label span {
    background-color: black;
}

.custom-radios input[type="radio"]:checked + label span  {
    border: 2px solid rgb(240, 240, 240);
    border-radius: 50%;
}
/* Finish - Code for color radio buttons */

/* Size selector */
#size-selector div{
    display: inline-block;
    padding: 4px 1px 0 0;
}

#size-selector input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

#size-selector label{
    display: inline-block;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: normal;
    color: white;
}

#size-selector input[type=radio]:checked + label {
    color:  rgb(211, 211, 15);
    font-weight: bold;
}
/* Finish - Size selector */

/* Components selector */
#components-selector div{
    display: inline-block;
    padding: 4px 1px 0 0;
}

#components-selector input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

#components-selector label{
    display: inline-block;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: normal;
    color: white;
    padding: 2px;
}

#components-selector input[type=radio]:checked + label {
    border: 2px solid rgb(240, 240, 240);
    font-weight: bold;
    border-radius: 35%;
}
/* Finish - Components selector */

.btn-link{
    text-decoration: none;
}

.price-muted{
    color: rgb(185, 185, 185)
}

.geometry-img{
    max-width: 100%;
    height: auto;
}

/* Sizes in gray circles */
.size-coin{
    height: 7em;
    width: 7em;
    border-radius: 50%;
}

.coin-xs{
    background-color: #ABABAB;
}

.coin-s{
    background-color: #818181;
}

.coin-m{
    background-color: #575757;
}

.coin-l{
    background-color: #262626;
}

.coin-xl{
    background-color: #000000;
}
/* Finish - Sizes in gray circles */

.color-image,
.red-bike{
    max-width: 100%;
    height: auto;
}

/* Get a quote section */
.bg-red{
    background-color: #4D0905;
}

/* For smaller screen sizes */
@media only screen and (max-width: 1366px) {
    #components-selector div label{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 1024px) {
    .container-product{
    width: 100%;
    }
    .bike-mini-title{
        font-size: 0.8em;
    }
    .color-size-price div {
        padding-left: 3px;
        padding-right: 3px;
    }
    .color-size-price div h7{
        font-size: 1em;
    }
    .custom-radios div{
        padding: 0 1px;
    }
    #components-div{
        padding-top: 0;
        padding-left: 10px;
    }
    #components-selector div label{
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 600px) {
    .container-product{
    width: 100%;
    }
    .bike-mini-title{
        font-size: 0.8em;
    }
    .color-size-price{
        padding-left: 10px;
    }
    .size-box{
        padding-left: 20px;
    }
    .color-size-price div {
        padding-left: 3px;
        padding-right: 3px;
    }
    .color-size-price div h7{
        font-size: 1em;
    }
    #components-div{
        padding-top: 10px;
        padding-left: 10px;
    }
    .color-size-price-sec{
        padding-right: 20px;
        padding-left: 30px;
    }
    #size-selector div{
        padding: 0 5px 0 3px;
    }
    /* Add to cart/Wishlist buttons */
    .buttons i {
        font-size: 0.9em;
    }
    .buttons a{
        font-size: 0.8em;
    }
    #make-special h4{
        font-size: 1em;
    }
    #make-special p{
        font-size: 0.8em;
    }
}
