{% load static %}

<!-- Footer -->
<div id="footer" class="container-fluid">
    <div class="row footer-links">
        <div class="col col-lg-4 col-sm-6">
            <h6 class="text-white"><a href="{% url 'bikes' %}">BIKES</a></h6>
            <h6 class="text-white"><a href="{% url 'frames' %}">FRAMES</a></h6>
            <h6 class="text-white"><a href="#">EVENTS</a></h6>
        </div>
        <div class="col col-lg-4 col-sm-6">
            <h6 class="text-white"><a href="{% url 'about' %}">ABOUT</a></h6>
            <h6 class="text-white"><a href="#">WARRANTY POLICY</a></h6>
            <h6 class="text-white"><a href="#">RETURNS & REFUNDS</a></h6>
        </div>        
        <div class="col col-lg-4 col-sm-12">
            <ul class="list-inline social">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/FABIKE.bicycles" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i>    
                        <span class="sr-only">Facebook</span>
                    </a>
                    <a href="https://www.instagram.com/fabikebicycles/" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i>    
                        <span class="sr-only">Instagram</span>
                    </a>
                    <a href="" target="_blank">
                        <i class="far fa-envelope" aria-hidden="true"></i>
                        <span class="sr-only">Contact Us</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="copyright">© 2020 by FABIKE Design s.r.o. All rights reserved.</p>
    </div>
</div>
