{% load static %}

<!-- Footer -->
<div id="footer" class="container-fluid">
    <div class="row footer-links">
        <div class="col-6 col-md-4 col-lg-4 px-4">
            <h6 class="text-white"><a href="{% url 'bikes' %}">BIKES</a></h6>
            <h6 class="text-white"><a href="{% url 'frames' %}">FRAMES</a></h6>
            <h6 class="text-white"><a href="#">EVENTS</a></h6>
        </div>
        <div class="col-6 col-md-4 col-lg-4 px-0">
            <h6 class="text-white"><a href="{% url 'about' %}">ABOUT</a></h6>
            <h6 class="text-white"><a href="#">WARRANTY POLICY</a></h6>
            <h6 class="text-white"><a href="#">RETURNS & REFUNDS</a></h6>
        </div>        
        <div class="col-sm-12 col-md-4 col-lg-4 mb-2">
            <ul class="list-inline social">
                <li class="text-center m-0">
                    <a href="https://www.facebook.com/FABIKE.bicycles" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i>    
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="text-center m-0">
                    <a href="https://www.instagram.com/fabikebicycles/" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i>    
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>    
                <li class="text-center m-0">
                    <a href="{% url 'contact' %}" target="_blank">
                        <i class="far fa-envelope" aria-hidden="true"></i>
                        <span class="sr-only">Contact Us</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="copyright mt-2">© 2021 Designed by FABIKE Design s.r.o. Developed by <a href="https://github.com/OlekSt">O.Statsenko</a>. All rights reserved.</p>
    </div>
</div>
