{% load static %}

<!-- Footer -->
<div id="footer" class="container-fluid">
    <div class="row footer-links">
        <div class="col col-lg-4 col-sm-6">
            <h5 class="text-white">BIKES</h5>
            <h5 class="text-white">FRAMES</h5>
            <h5 class="text-white">EVENTS</h5>
        </div>
        <div class="col col-lg-4 col-sm-6">
            <h5 class="text-white">ABOUT</h5>
            <h5 class="text-white">WARRANTY POLICY</h5>
            <h5 class="text-white">RETURNS & REFUNDS</h5>
        </div>        
        <div class="col col-lg-4 col-sm-12">
            <ul class="list-inline social">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/FABIKE.bicycles" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i>    
                        <span class="sr-only">Facebook</span>
                    </a>
                    <a href="https://www.instagram.com/fabikebicycles/" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i>    
                        <span class="sr-only">Instagram</span>
                    </a>
                    <a href="" target="_blank">
                        <i class="far fa-envelope" aria-hidden="true"></i>
                        <span class="sr-only">Contact Us</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="text-white text-center">
            © 2020 by FABIKE Design s.r.o. All rights reserved.
        </p>
    </div>
</div>
