{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<div class="col col-lg-6 col-md-6 col-sm-12 card my-4 align-self-center shadow bg-white rounded">
    <div class="card-header">
        <h2 class="uppercase text-center"><i class="fa fa-cog fa-spin"></i> {% trans "SIGN OUT" %}</h2>
    </div>
    <div class="card-body">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="pull-right btn btn-dark btn-sm" type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>    
    <div class="card-footer text-muted text-right"></div>
</div>

{% endblock %}
