{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

<div class="col col-lg-6 col-md-6 col-sm-12 card my-4 align-self-center shadow bg-white rounded">
    <div class="card-header">
        <h2 class="uppercase text-center">{% trans "Change Password" %}</h2>
    </div>
    <div class="card-body">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>    
    <div class="card-footer text-muted text-right"></div>
</div>
{% endblock %}
