{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner_content %}

<div class="col col-lg-6 col-md-6 col-sm-12 card my-4 align-self-center shadow rounded">
    <div class="card-header">
        <h2 class="uppercase text-center">{% trans "Sign Up Closed" %}</h2>
    </div>
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
    <div class="card-footer text-muted text-right">

    </div>
</div>

{% endblock %}