<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %} 
    <title>FABIKE {% block extra_title %}{% endblock %}</title>
</head>

<body>
<header>
{% block header %}
    {% include 'includes/navbar.html' %}
{% endblock %}
</header>

{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}

{% block page_header %}
{% endblock %}
<div class="pillow">    
</div>

{% block content %}
{% endblock %}

<footer>
    {% include 'includes/footer.html' %} 
</footer>

{% block corejs %}
    {% include 'includes/scripts.html' %}
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.toast').toast('show');
        });
    </script>
{% endblock %}

    
</body>
</html>