{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Bikes{% endblock %}

{% block content %}
<div id="products" class="container-fluid ">
    <div class="row">
        <img class="image-fluid" src="{% static 'img/products/bikes.jpg' %}" alt="Bikes">
    </div>
    <div class="row px-1">
        <div class="col-12 col-lg-4 col-md-4 text-center px-0 mx-0">
            <img class="bikes-img image-fluid" src="{% static 'img/index/homepage_featured_box_1.jpg' %}" alt="Urban Bikes">
            <h3><a  href="{% url 'urban' %}">URBAN</a></h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>

        </div>
        <div class="col-12 col-lg-4 col-md-4 text-center px-0 mx-0">
            <img class="bikes-img image-fluid" src="{% static 'img/index/homepage_featured_box_2.jpg' %}" alt="All Road Bikes">
            <h3><a href="{% url 'all_road' %}">ALL ROAD</a></h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>

        </div>
        <div class="col-12 col-lg-4 col-md-4 text-center px-0 mx-0">
            <img class="bikes-img image-fluid" src="{% static 'img/index/homepage_featured_box_3.jpg' %}" alt="Road Bikes">
            <h3><a href="{% url 'road' %}">ROAD</a></h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>

        </div>
    </div>
</div>
{% endblock %}