{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Bikes{% endblock %}

{% block content %}

<h2 class="text-center"> BIKES </h2>

<a href="{% url 'urban' %}"><h3> URBAN </h3></a>
<a href="{% url 'all_road' %}"><h3> ALL ROAD </h3></a>
<a href="{% url 'road' %}"><h3> ROAD </h3></a>

<div class="container-fluid">
    <div class="row">
        <h3 class="text-center"> BIKES IMAGE</h3>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>
            <h3 class="text-center"> URBAN</h3>

        </div>
        <div class="col-12 col-lg-4">
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>
            <h3 class="text-center"> ALL ROAD</h3>

        </div>
        <div class="col-12 col-lg-4">
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>
            <h3 class="text-center"> ROAD</h3>

        </div>
    </div>
</div>
{% endblock %}