{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Bike details{% endblock %}

{% block content %}
<div class="container bike-details">
    <div class="row">
        <img class="image-fluid" src="{% static 'img/products/urban/c3_ss_hr_background.jpg' %}" alt="Bike image">
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-6"> 
        <h5 class="text-white"></h5>
        <h5 class="text-white"><strong></strong></h5>
        <p class="text-white"></p>
    </div>
</div>
{% endblock %}