{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block extra_title %}- Frames{% endblock %}

{% block content %}
<div class="container-fluid mx-0 px-0 secondary-hero-image">
    <img class="title-image image-fluid mx-0 px-0 align-self-center" src="{{ MEDIA_URL }}frames.jpg" alt="Bikes">
    <div class="centered">
        <h1 class="display-2 text-white uppercase title">frames</h1>   
    </div>
</div>
<div id="frames" class="container-fluid">
    <div class="row justify-content-center py-5">
        {% for frame in frames %}
            <div class="col-lg-4 col-sm-10 text-center pt-3">
                <a href="{% url 'product' frame.id %}"><img class="frames-img image-fluid" src="{{ MEDIA_URL }}{{ frame.image01 }}" alt="{{ frame.frame }} Frame"></a>
                <h5><strong>{{ frame.frame }}</strong> &nbsp;FRAME SET</h5>
            </div> 
        {% endfor %}   
    </div>
</div>
{% endblock %}