{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Frames{% endblock %}

{% block content %}
<div id="frames" class="container-fluid">
    <div class="row">
        <img class="image-fluid px-0" src="{% static 'img/products/frames.jpg' %}" alt="Frames">
    </div>
    <div class="row justify-content-center py-5">
        {% for frame in frames %}
            <div class="col-lg-4 col-sm-10 text-center pt-3">
                <a href="{% url 'product' frame.id %}"><img class="frames-img image-fluid" src="{{ STATIC_URL}}img/products/{{ frame.image01 }}" alt="{{ frame.frame }} Frame"></a>
                <h5><strong>{{ frame.frame }}</strong> &nbspFRAME SET</h5>
            </div> 
        {% endfor %}   
    </div>
</div>
{% endblock %}