{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}" type="text/css">
{% endblock %}

{% block extra_title %}- Product details{% endblock %}

{% block content %}
<div id="product" class="container-fluid container-product">
    <div class="row">
        <img class="product-image image-fluid" src="{{ STATIC_URL }}img/products/{{ product.image02 }}" alt="{{ product.frame }} {{ product.name }}">
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 bg-dark px-5">
            <h4 class="text-muted mt-4">{{ product.frame }}</h4>
            <h4 class="text-white">{{ product.name }}</h4>
            <p class="text-white bike-mini-title mb-4">{{ product.title }}</p>
            {% if request.user.is_superuser %}
                <small class="edit-delete-btn ml-3 mt-5 pull-bottom">
                    <a href="{% url 'edit_product' product.id %}">EDIT</a> | 
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">DELETE</a>
                </small>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6 col-md-6 bg-secondary pt-3 color-size-price-sec">
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">   
                {% csrf_token %}
                <div class="row color-size-price">
                    <div class="color-choice col-6 col-lg-4 col-md-4">
                        <p class="price-size-components-title"><strong>COLOR</strong></p>
                        <div class="custom-radios">
                            <div>
                                <input type="radio" id="color-red" name="color" value="Red" checked>
                                <label for="color-red"><span></span></label>
                            </div>
                            <div>
                                <input type="radio" id="color-blue" name="color" value="Blue">
                                <label for="color-blue"><span></span></label>
                            </div>
                            <div>
                                <input type="radio" id="color-yellow" name="color" value="Yellow">
                                <label for="color-yellow"><span></span></label>
                            </div>
                            <div>
                                <input type="radio" id="color-black" name="color" value="Black">
                                <label for="color-black"><span></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="size-box col-6 col-lg-3 col-md-3">
                        <p class="price-size-components-title"><strong>SIZE</strong></p>
                        <div id="size-selector">
                            <div>
                                <input type="radio" id="size-xs" name="size" value="XS" checked>
                                <label for="size-xs">XS</label>
                            </div>
                            <div>
                                <input type="radio" id="size-s" name="size" value="S">
                                <label for="size-s">S</label>
                            </div>
                            <div>
                                <input type="radio" id="size-m" name="size" value="M">
                                <label for="size-m">M</label>
                            </div>
                            <div>
                                <input type="radio" id="size-l" name="size" value="L">
                                <label for="size-l">L</label>
                            </div>
                            <div>
                                <input type="radio" id="size-xl" name="size" value="XL">
                                <label for="size-xl">XL</label>
                            </div>
                        </div>
                    </div>
                    {% if product.is_bike %}
                    <div id="components-div" class="col-12 col-lg-4 col-md-4">
                        <p class="price-size-components-title"><strong>COMPONENTS</strong></p>
                        <div id="components-selector">
                            <div>
                                <input class="components-choice" type="radio" id="alloy-components" name="components" value="alloy" checked>
                                <label for="alloy-components">ALLOY</label>
                            </div>
                            <div>
                                <input  class="components-choice" type="radio" id="carbon-components" name="components" value="carbon">
                                <label for="carbon-components">CARBON</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Two blocks for prices: one to be displayed for bikes, one for frames -->
                <!-- Bikes prices section -->
                <div class="row mt-2 pt-2">
                    <div class="col col-lg-3  col-sm-6">
                        <p class="price-size-components-title"><strong>PRICE</strong></p>
                        <h4 id="price_alloy" class="text-white text-center">€ {{ product.price_alloy | intcomma }}</h4>
                        <hr>
                        <h4 id="price_carbon" class="price-muted text-center">€ {{ product.price_carbon | intcomma }}</h4>
                    </div>
                    <div class="col col-lg-3 col-sm-6">
                        <p class="price-size-components-title"><strong>WEIGHT</strong></p>
                        <h4 id="weight_alloy" class="text-white text-center">{{ product.weight_alloy }} Kg</h4>
                        <hr>
                        <h4 id="weight_carbon" class="price-muted text-center">{{ product.weight_carbon }} Kg</h4>
                    </div>
                    <div class="col col-lg-6 col-sm-12">
                        <div class="row text-center">
                            <div class="col-lg-12 col-sm-6 buttons">
                                <button href="{% url 'add_to_cart' product.id %}" type="submit" class="text-white btn btn-dark mt-3">&nbsp;ADD&nbsp;  <i class="fas fa-long-arrow-alt-right"></i> <i class="fas fa-cart-plus"></i>&nbsp;</button>
                            </div>
                            <div class="col-12 buttons">
                                <a href="" class="text-white btn btn-dark mt-3"><i class="far fa-heart"></i> WISHLIST</a>
                            </div>                 
                        </div>
                    </div>
                </div>
                {% else %}
                <!-- Frames price section -->
                <div class="row mt-2">
                    <div class="col col-lg-4  col-sm-4">
                        <p class="price-size-components-title"><strong>PRICE</strong></p>
                        <h4 id="price" class="text-white text-center">€ {{ product.price | intcomma }}</h4>
                    </div>
                    <div class="col col-lg-4 col-sm-4">
                        <p class="price-size-components-title"><strong>WEIGHT</strong></p>
                        <h4 id="weight" class="text-white text-center">{{ product.weight }} Kg</h4>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12 buttons">
                                <button href="{% url 'add_to_cart' product.id %}" type="submit" class="text-white btn btn-dark mt-3">&nbsp;ADD&nbsp;  <i class="fas fa-long-arrow-alt-right"></i> &nbsp;<i class="fas fa-cart-plus"></i>&nbsp;</button>
                            </div>
                            <div class="col-12 buttons">
                                <a href="" class="text-white btn btn-dark mt-3"><i class="far fa-heart"></i> WISHLIST</a>
                            </div>                    
                        </div>
                    </div>
                </div>    
                {% endif %}
                <p class="price-comment mt-2">* {{ product.price_comment }}</p>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    <!-- Specification section: One to be displayed for bikes, one for frames -->
    <div class="row px-3">
        <div class="col-12 col-lg-6">
            <h5 class="pt-3">SPECIFICATIONS</h5>
            <hr>
            <!-- Bikes specification seection -->
            {% if product.is_bike %}
            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-12">
                    <h6 class="mb-0">FRAME</h6>
                    <p>{{ product.frame }}</p>
                    <h6 class="mb-0">FORK</h6>
                    <p>{{ product.fork }}</p>
                    <h6 class="mb-0">WHEELS</h6>
                    <p>{{ product.wheels }}</p>
                    <h6 class="mb-0">TYRES</h6>
                    <p>{{ product.tyres }}</p>
                    <h6 class="mb-0">CRANKSET</h6>
                    <p>{{ product.crankset }}</p>
                    <h6 class="mb-0">SHIFT LEVERS</h6>
                    <p>{{ product.shift_levers }}</p>
                    <h6 class="mb-0">DERAILLEURS</h6>
                    <p>{{ product.derailleurs }}</p>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12">
                    <h6 class="mb-0">CASSETTE/SPROCKET</h6>
                    <p>{{ product.casette_or_sprocket }}</p>
                    <h6 class="mb-0">CHAIN/BELT</h6>
                    <p>{{ product.chain_or_belt }}</p>
                    <h6 class="mb-0">BRAKES</h6>
                    <p>{{ product.brakes }}</p>
                    <h6 class="mb-0">HANDLEBAR</h6>
                    <p>{{ product.handlebar }}</p>
                    <h6 class="mb-0">STEM</h6>
                    <p>{{ product.stem }}</p>
                    <h6 class="mb-0">SADDLE</h6>
                    <p>{{ product.saddle }}</p>
                    <h6 class="mb-0">SEATPOST</h6>
                    <p>{{ product.seatpost }}</p>
                </div>
            </div>
            <!-- Frames specification seection -->
            {% else %}
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6">
                    <h6 class="mb-0">FRAME</h6>
                    <p>{{ product.frame }}</p>
                    <h6 class="mb-0">FORK</h6>
                    <p>{{ product.fork }}</p>
                    <h6 class="mb-0">HEADSET</h6>
                    <p>{{ product.headset }}</p>
                    <h6 class="mb-0">SEAT CLAMP</h6>
                    <p>{{ product.seat_clamp }}</p>
                    <h6 class="mb-0">BOTTOM BRACKET TYPE</h6>
                    <p>{{ product.bottom_bracket }}</p>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <h6 class="mb-0">SEATPOST DIAMETER</h6>
                    <p>{{ product.seatpost }}</p>
                    <h6 class="mb-0">BRAKES</h6>
                    <p>{{ product.brakes }}</p>
                    <h6 class="mb-0">DROPOUTS</h6>
                    <p>{{ product.dropouts }}</p>
                    <h6 class="mb-0">MAX TYRE SIZE</h6>
                    <p>{{ product.max_tyre_size }}</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6">
            <h5 class="pt-3">GEOMETRY & SIZES</h5>
            <hr>
            <img class="geometry-img pt-2" src="{{ STATIC_URL }}img/products/{% if product.frame == 'FABIKE C3'%}c3_geometry.png{% else %}t2_geometry.jpg{% endif %}" alt="{{ product.frame }} Frame geometry">
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-2 col-sm-6 size-coin coin-xs mx-3 mb-2">
            <h4 class="text-center text-white mb-0 mt-4">XS</h4>
            <p class="text-center text-white">165-170cm</p>
        </div>
        <div class="col-2 col-sm-6 size-coin coin-s mx-3">
            <h4 class="text-center text-white mb-0 mt-4">S</h4>
            <p class="text-center text-white">170-175cm</p>
        </div>
        <div class="col-2 col-sm-6 size-coin coin-m mx-3">
            <h4 class="text-center text-white mb-0 mt-4">M</h4>
            <p class="text-center text-white">175-180cm</p>
        </div>
        <div class="col-2 col-sm-6 size-coin coin-l mx-3">
            <h4 class="text-center text-white mb-0 mt-4">L</h4>
            <p class="text-center text-white">180-185cm</p>
        </div>
        <div class="col-2 col-sm-6 size-coin coin-xl mx-3">
            <h4 class="text-center text-white mb-0 mt-4">XL</h4>
            <p class="text-center text-white">185-190cm</p>
        </div>
        <p class="text-center px-5 pt-4">LET'S TAKE THESE AS GENERAL SIZING SUGGESTIONS. FOR A MORE DETAILED SIZING YOU CAN DROP US A MESSAGE.</p>
        <div class="col-12 text-center">
            <a href="{% url 'contact' %}" class="text-white btn btn-secondary my-4">CONTACT US</a>
        </div>
    </div>
    <div class="row bg-dark py-4">
        <h3 class="text-muted text-center mb-3">PICK YOUR DETAILS</h3>
        <p class="text-white text-center my-0">You can choose among four different anodized details colors.</p>
        <p class="text-white text-center my-0">This color will be used on the head badge, headset, seat clamp and compressor top cap.</p>
    </div>
    <div class="row p-0">
        <div class="col-3 px-0">
            <img class="color-image" src="{{ STATIC_URL }}img/products/{% if product.frame == 'FABIKE C3'%}4_colors_red{% else %}t2colors_red{% endif %}.jpg" alt="Red Color details">
        </div>
        <div class="col-3 px-0">
            <img class="color-image" src="{{ STATIC_URL }}img/products/{% if product.frame == 'FABIKE C3'%}4_colors_blue{% else %}t2colors_blue{% endif %}.jpg" alt="Blue Color details">
        </div>
        <div class="col-3 px-0">
            <img class="color-image" src="{{ STATIC_URL }}img/products/{% if product.frame == 'FABIKE C3'%}4_colors_yellow{% else %}t2colors_yellow{% endif %}.jpg" alt="Yellow Color details">
        </div>
        <div class="col-3 px-0">
            <img class="color-image" src="{{ STATIC_URL }}img/products/{% if product.frame == 'FABIKE C3'%}4_colors_black{% else %}t2colors_black{% endif %}.jpg" alt="Black Color details">
        </div>
    </div>
    <div class="row bg-dark py-2"></div>
    <div class="row bg-red p-0">
        <div id="make-special" class="col-12 col-lg-6 col-md-6 px-5 py-4">
            <h4  class="text-white mb-4">MAKE IT EVEN MORE SPECIAL</h4>
            <p class="text-white mb-0">The components above are not exactly what you are looking for and you would prefer to have some different components?</p>
            <p class="text-white mb-2">Maybe you are craving for a custom painting?</p>
            <p class="text-white mb-3">Tell us more about your dream bike, we will do our best to make it happen.</p>
            <div class="text-center pt-3">
                <a href="{% url 'contact' %}" class="btn btn-light my-4">GET A QUOTE</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 px-0">
            <img class="red-bike px-0" src="{{ STATIC_URL }}img/products/red_bike.png" alt="Bike parts">
        </div>
    </div>
    <div class="row bg-secondary py-3">
        <div class="col-12 col-lg-6 col-md-6 p-4 text-center">
            <img src="{{ STATIC_URL }}img/products/built_eu.png" alt="Built in EU">
        </div>
        <div class="col-12 col-lg-6 col-md-6 px-5 py-2">
            <p class="text-white text-left">All our bikes are assembled in Italy at the moment of the order.</p>
            <p class="text-white text-left">The average waiting time to get your bike ready is 4-5 weeks in case of C3 models, and 8-9 weeks in case of T2 models.</p>
        </div>
    </div>
</div>
{% endblock %}